<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You</title>
  </head>
  <body>

    <a href="/parentLogin">Logout</a>
    <h1>THANK YOU <%= user.local.email %> FOR REGISTERING, YOUR ACCOUNT WILL BE ACTIVE MOMENTARILY</h1>

  </body>
</html>
